.bishbosh-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50% 50% 50% 50% 50% ;
    background-color: #fff;
    color: #444;
    grid-gap: 10px
    
}

.bishbosh-grid > *{
    background-color: grey;
}