#bishbosh-grid{
    display: grid;
    background-color: beige;
    color: #444;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto ;
}

body{
    background-color: beige;
}